*,
*::before,
*::after {
    box-sizing: border-box;
}

html, 
body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;

    background-color:#f3f3f3;
}

nav {
    display: flex;
    gap: 1.5em;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.2em 1.5em;
    
    background-color: white;
}

a {
    text-decoration: none;
    color: #202020;
}

footer {
    width: 100%;
    background-color: #202020;
    color: white;
    text-align: center;
    align-content: center;
    padding: 1.5em;
    line-height: .5;
}

footer> * {
    font-size: .75em;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1em 1fr 1em;
    grid-template-areas:
        "........ ........ ........"
        "........ jourpost ........"
        "........ recposts ........"
        "........ ........ ........";
        gap: 1em 0;
        padding: 1em 0;
}

.copyright {
    color: #D7D7D7;
    margin-top: 1em;
}

.journey-post {
    grid-area: jourpost;
}

.recent-posts {
    grid-area: recposts;
}

.logo {
    font-size: 1.5em;
    font-family: "Podkova", serif;
}

.journey-date {
    font-size: .75em;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.journey-post__heading {
    margin: 0;
    font-size: 2em;
    line-height: 1.2;
}

.journey-post__fragment {
    margin-top: 8px;
}

.journey-post__fragment,
section > p,
.journey-post__text {
    font-weight: bold;
}

.blog-post--img__container {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-post__image {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.blog-post__heading {
    margin: 0;
    font-size: 1.5em;
}

.blog-post__date {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: .875em;
}

.blog-post__text {
    margin: .3em 0 1em;
    line-height: 1.3;
    letter-spacing: .3;
    color: #505050;

}

.recent-posts__text {
    grid-area: rpostxt;

    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.blog-post__one {
    grid-area: bposone;
}

.blog-post__two {
    grid-area: bpostwo;
}

.blog-post__three {
    grid-area: bposthree;
}

@media (min-width: 768px) {
    .journey-post > *:not(div.journey-post--img__container) {
        width: 90%;
        padding-left: 10%;
    }

    .journey-date {
        font-size: 1em;
        margin-bottom: 20px;
    }

    .journey-post__heading {
        font-size: 2.25em;
    }

    .journey-post__fragment {
        margin: 1.5em 0 0 0;
        font-weight: 400;
    }

    .journey-post__text h3 {
        font-size: 1.5em;
    }

    .journey-post__text p {
        font-weight: 400;
    }

    .journey-post--img__container {
        height: 400px;
        padding: 2em;
    }

    .recent-posts {
        display: grid;
        grid-template-columns: 1em repeat(3, 1fr) 1em;
        grid-template-areas:
        ".... .... rpostxt .... ...."
        ".... bposone bpostwo bposthree ...."
        ".... .... .... .... ....";
        gap: 1em;
    }

    .blog-post--img__container {
        width: 100%;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .blog-post__image {
        border-radius: 4px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
    }

    .journey-date {
        font-size: 1em;
    }
}